.profile {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 0 70px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 123px;
}

.profile__label {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
}

.profile__inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 410px;
  margin-bottom: 6px;
  border-bottom: 1px solid #424242;
  padding-bottom: 16px;
}

.profile__inputs-container:last-of-type {
  border: none;
  margin-top: 24px;
  padding-bottom: 0;
}

.profile__input {
  background: transparent;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #ffffff;
  
}

.profile__submit-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: transparent;
  border: none;
  padding: none;
  margin: calc(220px - 16px - 17px) auto 16px;
  cursor: pointer;
}

.profile__submit-btn:hover {
  opacity: 0.7;
}

.profile__submit-btn:active {
  opacity: 0.3;
}

.profile__logout-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  background-color: transparent;
  border: none;
  color: #ee3465;
  text-decoration: none;
}

.profile__logout-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__logout-btn:active {
  opacity: 0.3;
}

@media screen and (max-width: 900px) {
  .profile {
    padding: 236px 0 70px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__submit-btn {
    margin: calc(210px - 16px - 17px) auto 16px;
  }
}

@media screen and (max-width: 700px) {
  .profile {
    padding: 70px 0 40px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__inputs-container {
    width: 260px;
  }
}
