.filterCheckbox {
  display: flex;
  align-items: center;
}

.filterCheckbox__switch-description {
  color: #ffffff;
  font-size: 13px;
  line-height: 1.2;
  margin: 0 14px;
}

.filterCheckbox__switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.filterCheckbox__checkbox {
  display: none;
}

.filterCheckbox__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3ddc84;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

.filterCheckbox__slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  right: 2px;
  top: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  border-radius: 50%;
}

.filterCheckbox__checkbox_unchecked + .filterCheckbox__slider {
  background-color: #ccc;
}

.filterCheckbox__checkbox:focus + .filterCheckbox__slider {
  box-shadow: 0 0 1px #ccc;
}

.filterCheckbox__checkbox_unchecked + .filterCheckbox__slider:before {
  -webkit-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  transform: translateX(-16px);
}

@media screen and (max-width: 768px) {
  .filterCheckbox {
    flex-direction: row-reverse;
  }
  .filterCheckbox__switch-description {
    margin: 0 16px;
  }
}
@media screen and (max-width: 600px) {
  .filterCheckbox {
    justify-content: center;
    padding: 45px 25px 0;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .filterCheckbox__search {
    line-height: 1.1;
    font-size: 18px;
  }
  .filterCheckbox__search::placeholder {
    font-size: 22px;
  }
}

@media screen and (max-width: 320px) {
  .filterCheckbox {
    justify-content: center;
    margin-top: 41px;
  }
  .filterCheckbox__search::placeholder {
    font-size: 18px;
  }
}
